# Configuration file to run snr_max

[run]
plot_prefix=testrun
savename=test.txt

[stel]
phoenix_folder=./data/phoenix/

[hk]
transmission_file=./data/throughput/transmission_hk_total_031521.txt

[kpf]
transmission_file=./data/throughput/transmission_kpf.txt

[filt]
filter_file=./data/filters/Generic_Bessell.V.dat

[tel]
telluric_file=./data/telluric/psg_out_2015.06.17_l0_380nm_l1_900nm_res_0.002nm_lon_204.53_lat_19.82_pres_0.5826.fits

[exo]
exoplanet_file = ./data/goyal/trans-eqpt_WASP-019_0.25_+1.7_0.75_model.txt

[hirax]
hirax_file = ./data/hirax/hirax_bandpass.txt

[const]
l0=380
l1=900
res_kpf=95000
res_hk=14000
tel_area=76.0

[var]
vmag=9
exp_time=30
teff=5800

